{% load static %}
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/custom.css" %}'>
    <title>Importar arquivo de vendas</title>
  </head>
  <body>
    <div id="page">
      <h2>Importar arquivo de vendas</h2>
      <div class="panel panel-default">
        {% if messages %}
          {% for message in messages %}
            <div class="{% if message.tags %}bg-{{ message.tags }}{% endif %}">
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
        <div class="panel panel-body">
          <form enctype="multipart/form-data" method="post" action=".">
            <div class="form-group {% if form.arquivo.errors %} has-error{% endif %}">
            {% csrf_token %}
            <label for="{{ form.arquivo.id_for_label }}" class="bold">{{ form.arquivo.label }}:</label>
            {{ form.arquivo }}
            </div>
            <div class="form-group">
              <input type="submit" name="enviar" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>